@import 'footer';
@import 'editors';

.banner2 {
    &__play {
        position: absolute;
        top: 50%;
        right: 20%;
        z-index: 104;
        cursor: pointer;
        @media(max-width: 768px) {
            top: unset;
            bottom: 20%;
            right: 50%;
            transform: translateX(50%);
        }
        &:hover {
            opacity: 0.8;
        }
    }
}

.strategy {
    background: #001636;
    padding: 80px 0;
    @media(max-width: 768px) {
        padding: 40px 0;
    }
}

.about {
    &__content {
        display: flex;
        justify-content: space-between;
        @media(max-width: 768px) {
            flex-direction: column;
        }
    }
    &__title {
        color: #FFF;
        font-size: 32px;
        font-weight: 700;
        line-height: 125% ;
    }
    &__left {
        width: 310px;
        @media(max-width: 1400px) {
            width: 250px;
        }
        @media(max-width: 768px) {
            width: 100%;
            margin-bottom: 24px;
        }
    }
    &__right {
        width: calc(100% - 326px);
        @media(max-width: 1400px) {
            width: calc(100% - 246px);
        }
        @media(max-width: 768px) {
            width: 100%;
        }
    }
    &__info {
        margin-bottom: 16px;
        b {
            margin-bottom: 12px;
            color: #FFF;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
            display: block;
        }
        p {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__graph {
        margin-bottom: 24px;
    }
    &__video {
        position: fixed;
        z-index: 300;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        &.show {
            display: block;
        }
        &--wrapper {
            background-color: #000;
            opacity: 0.7;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 301;
        }
        &--close {
            position: absolute;
            top: -20px;
            right: -20px;
            cursor: pointer;
            img {
                width: 20px;
            }
        }
        &--content {
            position: absolute;
            z-index: 302;
            top: 20%;
            left: 10%;
            width: 80%;
            height: 60%;
        
            @media(max-width: 576px) {
                width: 90%;
                left: 5%;
            }
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.goals {
    &__title {
        margin-bottom: 24px;
    }
    &__title2 {
        margin-bottom: 24px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        @media(max-width: 992px) {
            flex-direction: column;
        }
    }
    &__item {
        width: calc(50% - 8px);
        @media(max-width: 992px) {
            width: 100%;
            margin-bottom: 16px;
        }
        b {
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 12px;
            display: block;
        }
        p {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        @media(max-width: 1200px) {
            grid-template-columns: 1fr 1fr;
        }
        @media(max-width: 992px) {
            grid-template-columns: 1fr;
        }
    }
    &__item2 {
        span {
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
            display: block;
            margin-bottom: 12px;
        }
        &--bot {
            display: flex;
            b {
                color: #FFF;
                text-align: center;
                font-size: 64px;
                font-weight: 700;
                line-height: normal;
                display: block;
                margin-right: 12px;
            }
        }
        &--right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                color: #FFF;
                font-size: 22px;
                font-weight: 400;
                line-height: normal;
            }
        }
        &--number {
            color: #FFF;
            font-size: 22px;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.strategy {
    &__title {
        margin-bottom: 23px;
        @media(max-width: 992px) {
            font-size: 28px;
        }
         @media(max-width: 768px) {
            font-size: 24px;
        }
         @media(max-width: 576px) {
            font-size: 20px;
        }
    }
}

.history {
    padding: 70px 0;
    background-color: #001636;
    @media(max-width: 576px) {
        padding: 40px 0;
    } 
    &__title {
        margin-bottom: 20px;
    }
    &__line {
        width: 100%;
    }
    &__item {
        padding-top: 16px;
        &:hover {
            background: radial-gradient(234.69% 138.69% at 0.9% 2.98%, rgba(23, 83, 169, 0.60) 0%, rgba(23, 83, 169, 0.00) 100%);
            backdrop-filter: blur(20px);
        }
        b {
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            line-height: 130%; 
            display: block;
            margin: 16px 0 12px;
            padding: 0 16px;
        }
        p {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 128.571%;
            padding: 12px 16px 16px;
        }
    }
    &__img {
        width: 100%;
        padding: 0 16px;
        height: 250px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.awards {
    background-color: #001636;
    padding-top: 80px;
    @media(max-width: 768px) {
        padding-top: 40px;
    }
    .about__content {
        padding-bottom: 40px;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        @media(max-width: 992px) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 24px;
        background: #07316E;
        backdrop-filter: blur(20px);
        @media(max-width: 480px) {
            flex-direction: column;
        }
    }
    &__img {
        width: 108px;
        @media(max-width: 480px) {
            margin-bottom: 16px;
        }
        img {
            width: 100%;
        }
    }
    &__info {
        width: calc(100% - 124px);
        @media(max-width: 480px) {
            width: 100%;
        }
        b {
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
        }
        span {
            display: block;
            margin: 10px 0;
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 128.571%;
        }
        p {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 128.571%;
        }
    }
}

.standart {
    background-color: #001636;
    padding: 80px 0;
    &__title {
        margin-bottom: 40px;
    }
}

.corporate {
    padding: 70px 0;
    @media(max-width: 576px) {
        padding: 40px 0;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        .slick-list {
            width: 100%;
        }
        
    }
    &__item {
        height: 485px;
        width: calc(25% - 12px);
        @media(max-width: 1200px) {
            margin: 0 6px;
        }
        &:hover {
            .corporate {
                &__item {
                    &--info {
                        height: 180px;
                    }
                    &--img {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &--img {
            img {
                opacity: 0.6;
            }
        }
        &--info {
            padding: 24px;
            height: 150px;
            b {
                display: block;
                margin-bottom: 18px;
                color: #FFF;
                font-size: 24px;
                font-weight: 700;
                line-height: normal;
            }
            p {
                color: #FFF;
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 128.571%;
            }
        }
    }
    
}

.modal2 {
    z-index: 600;
     display: none;
        &.show {
            display: block;
        }
    &__content {
        top: 50%;
        left: 50%;
        background: #001636;
        padding: 40px;
        transform: translate(-50%, -50%);
        width: 1000px;
        @media(max-width: 992px) {
           width: calc(100% - 30px); 
           left: 15px;
           transform: translate(0, -50%);
        }
        @media(max-width: 768px) {
            top: 10px;
            transform: translate(0, 0);
            padding: 16px;
        }
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        opacity: 0.7;
    }
    &__item {
        display: none;
        &.active {
            display: flex;
            justify-content: space-between;
        }
        @media(max-width: 768px) {
            flex-direction: column;
        }
    }
    &__img {
        width: 310px;
        @media(max-width: 768px) {
            
            margin-bottom: 20px;
        }
        @media(max-width: 480px) {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    &__info {
        width: calc(100% - 350px);
        @media(max-width: 768px) {
            width: 100%;
        }
    }
    &__top {
        margin-bottom: 20px;
        b {
            color: #FFF;
            font-size: 32px;
            font-weight: 700;
            line-height: 125%;
        }
        p {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 90%;
            margin: 10px 0 20px;
        }
        span {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 128.571%;
        }
    }
    &__text {
        &--elem {
            margin-bottom: 20px;
            b {
                display: block;
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                line-height: 90%;
                margin-bottom: 12px;
            }
            p {
                color: #FFF;
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 120%;
            }
            ul {
                padding-left: 20px;
                li {
                    color: #FFF;
                    font-family: "Inter", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 120%;
                    list-style-type: disc;
                }
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #9CABC2;
        background: #07316E;
        padding: 8px 12px 8px 24px;
        width: fit-content;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        p {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            margin-left: 12px;
        }
    }
}

.mainprod {
    padding-top: 80px;
    margin-bottom: 40px;
    &__content {
        height: 530px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @media(max-width: 768px) {
            height: auto;
            flex-direction: column;
        }
    }
    &__left {
        height: 100%;
        width: calc(100% - 430px);
        @media(max-width: 992px) {
            width: calc(100% - 390px);
        }
        @media(max-width: 768px) {
            height: 240px;
            width: 100%;
            margin-bottom: 16px;
        }
        &:hover {
            .mainprod {
                &__item {
                    &--img {
                        img {
                            opacity: 1;
                        }
                    }
                    &--info {
                        height: 120px;
                    }
                }
            }
        }
    }
    &__right {
        width: 415px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media(max-width: 992px) {
            width: 370px;
        }
         @media(max-width: 768px) {
            width: 100%;
         }
        .main-item {
            height: calc(50% - 8px);
            @media(max-width: 768px) {
                height: 240px;
                margin-bottom: 16px;
                margin-top: 16px;
            }
            .wbg__bg {
                img {
                    opacity: 0.7;
                }
            }
            &:hover {
                .main-item {
                    &__info {
                        height: 120px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                    .wbg {
                        &__bg {
                            img {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            &__info {
                padding: 24px;
                height: 78px;
                b {
                    color: #FFF;
                    font-size: 20px;
                    font-weight: 700;   
                    line-height: normal;
                }
            }
        }
    }
    &__anti {
        height: calc(50% - 8px);
        background: linear-gradient(90deg, #07316E -88.23%, #0848A6 99.99%), url(<path-to-image>) lightgray -9.829px -91.963px / 104.953% 262.891% no-repeat;
        display: flex;
        @media(max-width: 768px) {
            height: 240px;
        }
        img {
            height: 80%;
            margin-top: auto;
            margin-right: 12px;
            @media(max-width: 768px) {
                height: 70%;
                margin-right: 5px;
            }
        }
        &--left {
            padding: 45px 28px 28px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            b {
                color: #FFF;
                font-size: 32px;
                font-weight: 700;
                line-height: normal;
            }
            a {
                display: flex;
                border-radius: 2px;
                border: 1px solid #E8EEF6;
                background: #1753A9;
                height: 52px;
                align-items: center;
                padding-left: 24px;
                justify-content: space-between;
                &:hover {
                    opacity: 0.8;
                }
                span {
                    color: #FFF;
                    text-align: center;
                    font-family: "Inter", sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: normal;
                    
                    height: 100%;
                    display: flex;
                    align-items: center;
                    width: 72%;
                    padding-left: 20px;
                    text-align: center;
                }
                
            }
        }
        &--img {
            height: 100%;
            width: 52px;
            border-left: 1px solid #E8EEF6;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 32px;
                width: 32px;
                margin-right: 0;
                margin-top: 0;
            }
        }
    }
    &__item {
        
        &--img {
            img {
                opacity: 0.7;
            }
        }
        &--info {
            height: 80px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            b {
                color: #FFF;
                font-size: 24px;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}

.products {
    &__title {
        color: #FFF;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
    }
}

.road {
    margin-bottom: 40px;
    &__item {
        height: 290px;
       
        flex: 0 0 calc(33.333% - 11px);
        margin-bottom: 16px;
        @media (max-width: 1200px) {
            flex: 0 0 calc(50% - 8px);
            &:last-child:nth-child(3n + 1) {
                flex: 0 0 calc(50% - 8px);
            }
            
        }
        @media (max-width: 992px) {
            flex: 0 0 100%;
        }
         @media (max-width: 768px) {
            height: 240px;
        }
        &:last-child:nth-child(2n + 1) {
        @media (max-width: 1200px) {
            flex: 0 0 100%;
        }
            
        }
        &:nth-last-child(2):nth-child(3n + 1) {
            flex: 0 0 calc(50% - 8px);
            @media (max-width: 992px) {
                flex: 0 0 100%;
            }
        }
        &:nth-last-child(1):nth-child(3n + 2) {
            flex: 0 0 calc(50% - 8px);

        }
        &:last-child:nth-child(3n + 1) {
            flex: 0 0 100%;
            text-align: center;
            @media (max-width: 1200px) {
                flex: 0 0 calc(50% - 8px);
            }
        }
        &:hover {
            .road {
                &__item {
                    &--info {
                        height: 100px;
                    }
                    &--img {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &--info {
            padding: 24px;
            height: 78px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .main-item__more {
                @media (max-width: 576px) {
                    display: none;
                }
            }
            @media (max-width: 576px) {
                height: auto;
            }
            b {
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                line-height: normal;
            }
        }
        &--img {
            img {
                opacity: 0.7;
            }
        }
    }
    &__title {
        margin-bottom: 16px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.build {
    margin-bottom: 80px;
    @media (max-width: 768px) {
            margin-bottom: 40px;
         }
    &__item {
        height: 290px;
         @media (max-width: 768px) {
            height: 240px;
         }
        &:hover {
            .build {
                &__item {
                    &--info {
                        height: 100px;
                    }
                    &--img {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &--info {
            padding: 24px;
            height: 78px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width: 576px) {
                height: auto;
            }
            .main-item__more {
                @media (max-width: 576px) {
                    display: none;
                }
            }
            b {
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                line-height: normal;
            }
        }
        &--img {
            img {
                opacity: 0.7;
            }
        }
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        @media (max-width: 992px) {
            grid-template-columns: 1fr;
        }
    }
     &__title {
        margin-bottom: 16px;
    }
}

.news2 {
    padding-top: 70px;
    margin-top: 94px;
    &__bg {
        top: 20px;
        z-index: -1;
        img {
            width: 230px;
            height: auto;
        }
        
    }
    &__top {
        margin: 20px 0;
        .container {
            display: flex;
            justify-content: space-between;
            @media(max-width: 1200px) {
                flex-direction: column;
            }
            // @media(max-width: 768px) {
            //     margin-right: 0;
            // } 
        }
    }
    &__tabs {
        display: flex;
        height: 44px;
        @media(max-width: 768px) {
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }  
        }
    }
    &__tab {
        border-radius: 2px;
        background: rgba(41, 41, 41, 0.70);
        backdrop-filter: blur(20px);
        margin-left: 30px;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 125%;
        padding: 10px 22px;
        display: flex;
        align-items: center;
        cursor: pointer;
        white-space: nowrap;
        @media(max-width: 1200px) {
            margin-left: 0;
            margin-right: 30px;
        }
        @media(max-width: 992px) {
            margin-right: 12px;
            padding: 10px 16px;
        }
        &:hover {
            opacity: 0.7;
        }
        &.active {
            background: radial-gradient(234.69% 138.69% at 0.9% 2.98%, rgba(23, 83, 169, 0.60) 0%, rgba(23, 83, 169, 0.00) 100%);
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 290px;
        gap: 16px;
        @media(max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        display: none;
        &.active {
            display: block;
        }
        &--img {
            img {
                opacity: 0.7;
            }
        }
        &:first-child {
            grid-column: span 2;
            grid-row: span 2;
            @media(max-width: 1200px) {
                grid-row: span 1;
            }
            @media(max-width: 768px) {
                grid-column: span 1;
            }
        }
        &:hover {
            .news2 {
                &__info {
                    height: 140px;
                }
                &__item {
                    &--img {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__info {
        padding: 24px 40px 24px 24px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .main-item__more {
            @media(max-width: 576px) {
                display: none;
            }
        }
        @media(max-width: 576px) {
            height: auto;
            padding: 20px;
        }
        b {
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
        }
    }
    &__bot {
        margin: 30px auto 70px;
        display: flex;
        align-items: center;
        width: fit-content;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        b {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            margin-right: 12px;
        }
    }
    &__title {
        &.news__title {
            @media(max-width: 1200px) {
            margin-bottom: 20px;
        }
        @media(max-width: 992px) {
            font-size: 28px;
        }
        @media(max-width: 768px) {
            font-size: 24px;
        }
        @media(max-width: 576px) {
            font-size: 20px;
        }
        }
        
    }
}

.about2 {
    padding-top: 80px;
    @media(max-width: 992px) {
        padding-top: 40px;
    }
    &__content {
        &.about__content {
            @media(max-width: 1200px) {
                flex-direction: column;
            }
            .about {
                &__left {
                    @media(max-width: 1200px) {
                        width: 100%;
                        margin-bottom: 16px;
                    }
                }
                 &__right {
                    @media(max-width: 1200px) {
                        width: 100%;
                    }
                }
            }
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        @media(max-width: 768px) {
            flex-direction: column-reverse;
        }
    }
    &__left {
        width: calc(50% - 23px);
        height: fit-content;
        @media(max-width: 768px) {
            width: 100%;
        }
        b {
            display: block;
            margin-top: 23px;
            color: #FFF;
            font-size: 40px;
            font-weight: 700;
            line-height: 130%; 
        }
    }
    &__right {
        width: 50%;
        @media(max-width: 768px) {
            width: 100%;
            margin-bottom: 23px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        p {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; 
            margin-bottom: 16px;
        }
    }
    &__bot {
        span {
            color: #FFF;
            font-size: 24px;
            font-weight: 700;
            line-height: normal;
            display: block;
            margin-bottom: 23px;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;
        @media(max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__item {
        border-radius: 2px;
        background: #07316E;    
        backdrop-filter: blur(12px);
        padding: 16px 32px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 480px) {
            padding: 12px 16px;
            height: 145px;
        }
        p {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
            text-align: center;
        }
        img {
            width: 42px;
        }
        b {
            color: #FFF;
            text-align: center;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.use {
    margin-bottom: 70px;
    margin-top: 40px;
    .about__content {
            @media(max-width: 1200px) {
                flex-direction: column;
            }
            .about {
                &__left {
                    @media(max-width: 1200px) {
                        width: 100%;
                        margin-bottom: 16px;
                    }
                }
                 &__right {
                    @media(max-width: 1200px) {
                        width: 100%;
                    }
                }
            }
        }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px 16px;
        @media(max-width: 992px) {
            grid-template-columns: 1fr 1fr;
        }
        @media(max-width: 576px) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        height: 310px;
        position: relative;
        &--bg {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 24px;
            height: 105px;
            background: radial-gradient(234.69% 138.69% at 0.9% 2.98%, rgba(23, 83, 169, 0.60) 0%, rgba(23, 83, 169, 0.00) 100%);
            backdrop-filter: blur(20px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media(max-width: 576px) {
                height: auto;
            }
            b {
                color: #FFF;
                font-size: 16px;
                font-weight: 700;
                line-height: normal;
                @media(max-width: 576px) {
                    margin-bottom: 16px;
                }
            }
            p {
                color: #FFF;
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

.secure {
    position: relative;
    padding: 50px 0 80px;
    @media(max-width: 768px) {
        padding: 40px 0;    
    }
    .container {
        @media(max-width: 576px) {
            margin: 0;
            max-width: unset;
        }
    }
    &__content {
        
        display: flex;
        justify-content: space-between;
        padding: 24px 60px 24px 240px;
        height: 320px;
        border-radius: 2px;
        background: linear-gradient(90deg, #07316E 0%, #0848A6 100%);
        backdrop-filter: blur(12px);
        @media(max-width: 1200px) {
            padding: 24px 40px 24px 150px;
        }
        @media(max-width: 992px) {
            height: auto;
            padding: 24px;
        }
    }
    &__doc {
        position: absolute;
        bottom: -5px;
        left: 20px;
        width: 480px;
        z-index: 3;
        @media(max-width: 1200px) {
            width: 390px;
        }
        @media(max-width: 992px) {
            display: none;
        }
        img {
            width: 100%;
        }
    }
    &__left {
        width: 360px; 
        @media(max-width: 992px) {
            display: none;
        }
        img {
            width: 100%;
            opacity: 0.7;
        }
    }
    &__right {
        width: calc(100% - 405px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media(max-width: 992px) {
            width: 100%;
        }
    }
    &__top {
        b {
            color: #FFF;
            font-size: 32px;
            font-weight: 700;
            line-height: normal;
            display: block;
            margin-bottom: 20px;
        }
        p {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.857%; 
            @media(max-width: 992px) {
                margin-bottom: 60px;
            }
        }
    }
    &__link {
        height: 50px;
        width: 360px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        border: 1px solid #E8EEF6;
        background: #1753A9;
        color: #FFF;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        @media(max-width: 576px) {
            width: 100%;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}

.safety {
    padding-top: 80px;
    @media(max-width: 768px) {
        padding-top: 40px;
    }
    .about {
        &__content {
            @media(max-width: 992px) {
                flex-direction: column;
            }
        }
        &__left {
            @media(max-width: 992px) {
                width: 100%;
                margin-bottom: 16px;
            }
        }
        &__right {
            @media(max-width: 992px) {
                width: 100%;
            }
        }
    }
    &__banner {
        position: relative;
        height: 500px;
        &--img {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 2px;
                backdrop-filter: blur(12px);
            }
        }
        &--info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 24px;
            background: radial-gradient(234.69% 138.69% at 0.9% 2.98%, rgba(23, 83, 169, 0.60) 0%, rgba(23, 83, 169, 0.00) 100%);
            backdrop-filter: blur(20px);
            color: #FFF;
            font-size: 32px;
            font-weight: 700;
            line-height: normal;
        }
    }
    &__text {
        margin: 24px 0;
        color: #FFF;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 142.857%;
    }
    &__speech {
        padding: 24px;
        border-radius: 2px;
        background: linear-gradient(0deg, rgba(41, 41, 41, 0.70) 0%, rgba(41, 41, 41, 0.70) 100%), #001536;
        backdrop-filter: blur(12px);
        position: relative;
        margin-bottom: 24px;
        img {
            width: 54px;
            position: absolute;
            top: 24px;
            right: 24px;
        }
        p {
            max-width: 300px;
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 12px;
        }
        b {
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__bot {
        display: flex;
        justify-content: space-between;
        @media(max-width: 768px) {
            flex-direction: column;
        } 
        &--img {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    &__left {
        width: 310px;
        @media(max-width: 768px) {
            width: 100%;
            margin-bottom: 24px;
        }
        b {
            color: #FFF;
            font-size: 32px;
            font-weight: 700;
            line-height: 125%; 
            margin-bottom: 40px;
            display: block;
        }
    }
    &__right {
        width: calc(100% - 334px);
        @media(max-width: 768px) {
            width: 100%;
        }
        p {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 12px;
        }
    }
    &__circle {
        position: relative;
        width: 310px;
        &--info {
            position: absolute;
            bottom: 30px;
            left: 40%;
            span {
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                line-height: normal;
                max-width: 165px;
                display: block;
                margin-left: -50px;
            }
        }
        &--top {
            display: flex;
            align-items: center;
            b {
                color: #FFF;
                text-align: center;
                font-size: 64px;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 0;
                letter-spacing: .2cm;
            }
            p {
                color: #FFF;
                font-size: 22px;
                font-weight: 700;
                line-height: normal;
                max-width: 70px;
            }
        }
    }
}

.antias {
    margin-top: -10px;
    padding: 120px 0 80px;
    position: relative;
    .container {
        @media(max-width: 576px) {
            max-width: unset;
            margin: 0;
        }
    }
    @media(max-width: 1200px) {
        padding: 60px 0 50px;
    }
    @media(max-width: 576px) {
        padding: 30px 0 20px;
    }
    &__doc {
        position: absolute;
        bottom: -5px;
        left: 0px;
        width: 479px;
        @media(max-width: 1200px) {
            width: 400px;
        }
        @media(max-width: 992px) {
            display: none;
        }
        img {
            width: 100%;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 36px 60px 36px 250px;
        border-radius: 2px;
        background: linear-gradient(90deg, #07316E 0%, #0848A6 100%);
        backdrop-filter: blur(12px);
        @media(max-width: 1200px) {
            padding-left: 120px;
            align-items: center;
        }
        @media(max-width: 992px) {
            padding: 36px;
        }
        @media(max-width: 576px) {
            padding: 20px;
        }
    }

    &__left {
        width: 360px;
        @media(max-width: 1200px) {
            width: 300px;
        }
        @media(max-width: 992px) {
            display: none;
        }
    }
    &__info {
        width: calc(100% - 405px);
        @media(max-width: 1200px) {
            width: calc(100% - 325px)
        }
        @media(max-width: 992px) {
           width: 100%;
        }
        b {
            color: #FFF;
            font-size: 32px;
            font-weight: 700;
            line-height: normal;
        }
        p {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            margin: 25px 0;
        }
    }
    &__btn {
        border-radius: 2px;
        border: 1px solid #E8EEF6;
        background: #1753A9;
        width: 360px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        @media(max-width: 480px) {
            width: 100%;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}