@import 'normalize';
@import 'globals';
@import 'header';

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.main-item {
    position: relative;
    &:hover {
        .main-item {
            &__info {
                transition:  0.5s linear;
            }
            &__icon {
                opacity: 1;
                top: 7px;
                right: 7px;
            }
            &__more {
                opacity: 1;
            }
        }
    }
    &__icon {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0;
        -webkit-transition: .5s linear;
        transition: .5s linear;
    }
    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 102;
        background: radial-gradient(234.69% 138.69% at 0.9% 2.98%, rgba(23, 83, 169, 0.60) 0%, rgba(23, 83, 169, 0.00) 100%);
        backdrop-filter: blur(20px);
        transition: 0.5s linear;
        cursor: pointer;
    }
    &__more {
        color: #FFF;
        font-family: "Inter", sans-serif;
        text-decoration-line: underline;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 128.571%; 
        opacity: 0;
    }
}

.main-banner {
    height: 440px;
    position: relative;
    z-index: 100;
    @media(max-width: 768px) {
        height: 580px;
    }
    &::after {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 102;
        content: "";
        position: absolute;
        background: linear-gradient(to right, 
        rgba(7, 48, 110, 0.88) 0%, 
        rgba(7, 48, 110, 0.99), 
        rgba(7, 49, 110, 0) 100%);
        @media(max-width: 768px) {
            display: none;
        }
    }
    
    &__left {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 101;
        @media(max-width: 768px) {
            height: 50%;
            width: 100%;
        }
        img {
            height: 100%;
            @media(max-width: 768px) {
                width: 100%;
                height: auto;
            }
        }
    }
    &__right {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: 101;
        @media(max-width: 768px) {
            height: 50%;
            width: 100%;
            top: 50%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
    .container {
        position: relative;
        z-index: 104;
        width: 100%;
        height: 100%;
        padding-top: 94px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media(max-width: 768px) {
            justify-content: start;
        }
    }
    &__text {
        max-width: 630px;
        color: #FFF;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.breads {
    display: flex;
    align-items: center;
    a {
        color: #FFF;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%; 
    }
    span {
        margin: 0 7px;
        color: #FFF;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;    
    }
    p {
        color: #FFF;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }
}

.main-title {
    margin: 20px 0;
    color: #FFF;
    font-size: 72px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.864px;
    text-transform: uppercase;
    @media(max-width: 992px) {
        font-size: 60px;
    }
    @media(max-width: 768px) {
        font-size: 50px;
        margin: 12px 0;
    }
    @media(max-width: 576px) {
        font-size: 40px;
    }
    @media(max-width: 480px) {
        font-size: 32px;
    }
}

.main-tabs {
    background-color: #171717;
    height: 40px;
    position: sticky;
    top: 94px;
    z-index: 200;
    @media(max-width: 992px) {
        top: 78px;
    }
    @media(max-width: 576px) {
        display: none;
    }
    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__item {
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 128.571%;
        margin: 0 18px;
    }
}

.main-modal {
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 401;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.7;
    }
    &__content {
        position: absolute;
        z-index: 402;
    }
}